@import "../../utils/paletteColors.css";
.container {
  width: 15em;
  background-color: var(--input-bg-color);
  margin: 10px 0;
  height: 40px;
  border-radius: 4rem;
  display: grid;
  grid-template-columns: 17% 82%;
  padding: 0 0.4rem;
  position: relative;
}
.category {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: start;
}
.category span {
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--p-text-suave-categoty);
}
.icons {
  width: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
