.container {
}

.avatar {
  width: 50px;
  cursor: pointer;
  position: relative;
}

.menu {
  width: 150px;
  position: absolute;
  top: calc(100%);
  left: calc(100% - 140px);
  z-index: 1;
  background-color: var(--bg-singin-up);
  border: 1px solid var(--fotter-bg-color);
  border-radius: 10px;
  padding: 5px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Transición de opacidad */
}

.menu.open {
  opacity: 1; /* Mostrar cuando isOpen es verdadero */
}

.menu::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 100px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  background-color: var(--bg-singin-up);
  border-top: 1px solid var(--fotter-bg-color);
  border-left: 1px solid var(--fotter-bg-color);
}

.menu li {
  list-style-type: none;
  padding: 8px 15px;
}

.menu li:hover {
  background-color: var(--input-bg-color);
}

.menu a {
  color: var(--Link-color);
  text-decoration: none;
}
