.container {
  width: 100%;
  display: grid;
  grid-template-columns: 500px 100px;
  place-content: center;
}
.custominput {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
