@import "../../utils/paletteColors.css";

.container {
  width: 15em;
  background-color: var(--input-bg-color);
  margin: 10px 0;
  height: 40px;
  border-radius: 4rem;
  display: grid;
  grid-template-columns: 17% 82%;
  padding: 0 0.4rem;
  position: relative;
}
.container input {
  width: 92%;
  background: none;
  outline: none;
  border: none;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.icons {
  width: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
