.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #333; /* Color de fondo del header */
  color: var(--Link-color); /* Color del texto */
}
.navAndAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.Logo img {
  height: 40px; /* Ajusta la altura del logo según sea necesario */
}
